<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068397799547-r02a2mo14f7f36vs1rir328f9f4gf8n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068397799547-r02a2mo14f7f36vs1rir328f9f4gf8n8</string>
	<key>API_KEY</key>
	<string>AIzaSyCla7PaDXJNQeWuD-UBP6yMvq8Q0F4J5Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>1068397799547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blipclap.romoogoola</string>
	<key>PROJECT_ID</key>
	<string>romoogoola</string>
	<key>STORAGE_BUCKET</key>
	<string>romoogoola.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068397799547:ios:579b1de6a46f424f795ade</string>
	<key>DATABASE_URL</key>
	<string>https://romoogoola.firebaseio.com</string>
</dict>
</plist>